@tailwind base;
@tailwind components;

/* ===== MAIN ===== */

body {
  font-family: 'Prompt', sans-serif;
  @apply text-gray-700;
}

.font-logo {
  font-family: 'Days One', sans-serif;
}

/* ===== CUSTOM UTILS ===== */

.transition-full {
  @apply transition-all ease-in-out duration-300;
}

.hover-hidden:hover .hidden {
  display: block;
}

/* ===== TYPOGRAPHY ===== */

h1, h2, h3, h4, h5, h6, p, b, sub { @apply m-0; }
h1, h2, h3, h4, h5, h6, b { @apply font-bold; }
h1 { @apply text-6xl; }
h2 { @apply text-5xl; }
h3 { @apply text-4xl; }
h4 { @apply text-3xl; }
h5 { @apply text-2xl; }
h6 { @apply text-xl; }
p { @apply text-base; }
b { @apply text-base; }
sub { @apply text-sm text-gray-500; }
i { @apply cursor-pointer; }
a { @apply text-blue-600; }
mark { @apply p-2 bg-gray-200 text-indigo-600; }

/* ===== GRID ===== */

grid { @apply grid grid-cols-12 gap-4; }
@media (min-width: 640px) { grid { @apply gap-6; } }
@media (min-width: 1024px) { grid { @apply gap-8; } }
@media (min-width: 1280px) { grid { @apply gap-8; } }

/* ===== COLOR ===== */

.primary { @apply bg-indigo-500 text-white; }
.secondary { @apply bg-gray-500 text-white; }
.success { @apply bg-green-500 text-white; }
.info { @apply bg-blue-500 text-white; }
.warning { @apply bg-orange-400 text-white; }
.danger { @apply bg-red-500 text-white; }
.outline.primary { @apply border-2 border-indigo-500 border-solid bg-transparent text-indigo-500; }
.outline.secondary { @apply border-2 border-gray-500 border-solid bg-transparent text-gray-500; }
.outline.success { @apply border-2 border-green-500 border-solid bg-transparent text-green-500; }
.outline.info { @apply border-2 border-blue-500 border-solid bg-transparent text-blue-500; }
.outline.warning { @apply border-2 border-orange-400 border-solid bg-transparent text-orange-400; }
.outline.danger { @apply border-2 border-red-500 border-solid bg-transparent text-red-500; }
.light.primary { @apply bg-indigo-300 text-indigo-600; }
.light.secondary { @apply bg-gray-300 text-gray-600; }
.light.success { @apply bg-green-300 text-green-600; }
.light.info { @apply bg-blue-300 text-blue-600; }
.light.warning { @apply bg-orange-300 text-orange-600; }
.light.danger { @apply bg-red-300 text-red-600; }

/* ===== BUTTON ===== */

button {
  @apply transition-full rounded px-4 py-2 secondary whitespace-pre;
}
button:active {
  @apply opacity-75;
}
button:focus {
  @apply outline-none;
}
button:hover {
  @apply transform -translate-y-1 shadow-lg;
}
button+button {
  @apply ml-2;
}

/* ===== TABLE ===== */

table.striped tbody tr:nth-child(even) { @apply bg-white; }
table.striped tbody tr:nth-child(odd) { @apply bg-gray-100; }

/* ===== LIST ===== */

ul {}
ul > li { @apply p-2 transition-full transform; }
ul > li:hover { @apply -translate-y-1 bg-gray-100 shadow; }

/* ===== FORM ===== */

/* ===== FORM - LABEL ===== */
label { @apply font-bold mb-1 text-sm; }
label.file { @apply relative; }
label.file input[type=file] {
  @apply absolute top-0 left-0 w-full h-full opacity-0;
}

/* ===== FORM - INPUT - TEXT ===== */
input[type=text] {
  @apply w-full rounded p-2 border-solid border-2 border-gray-200 transition-full outline-none;
}
input[type=text]:focus {
  @apply pl-4 border-indigo-500;
}
input[type=text].valid {
  @apply border-2 border-green-500 border-solid bg-transparent text-green-500;
}
input[type=text].invalid {
  @apply border-2 border-red-500 border-solid bg-transparent text-red-500;
}

.left-icon { @apply relative; }
.left-icon > i {
  @apply absolute top-0 left-0 h-full flex items-center px-3;
}
.left-icon > input[type=text] { @apply pl-10; }

.right-icon { @apply relative; }
.right-icon > i {
  @apply absolute top-0 right-0 h-full flex items-center px-3;
}
.right-icon > input[type=text] { @apply pr-10; }

/* ===== FORM - INPUT - CHECKBOX ===== */
input[type=checkbox] { @apply mr-1 }
.switch { @apply relative inline-block align-middle cursor-pointer select-none bg-transparent; }
.track { @apply w-12 h-6 bg-gray-600 rounded-full shadow-inner; }
.thumb { @apply transition-all duration-300 ease-in-out absolute top-0 left-0 w-6 h-6 bg-white border-2 border-gray-600 rounded-full; }
.switch input[type='checkbox'] {
  @apply hidden;
}
input[type='checkbox']:checked ~ .thumb {
  @apply transform translate-x-full border-indigo-500;
}
input[type='checkbox']:checked ~ .track {
  @apply transform transition-colors bg-indigo-500;
}
input[type='checkbox']:disabled ~ .track {
  @apply bg-gray-500;
}
input[type='checkbox']:disabled ~ .thumb {
  @apply bg-gray-100 border-gray-500;
}
input[type='checkbox']:focus + .track,
input[type='checkbox']:active + .track {
  @apply shadow-outline;
}

/* ===== FORM - SELECT ===== */
.select-wrapper {
  @apply border-2 border-gray-200 inline-block relative cursor-pointer rounded;
}
.select-wrapper+.select-wrapper { @apply ml-2; }
select {
  @apply block appearance-none w-full rounded leading-tight py-2 pl-2 pr-8 bg-transparent outline-none;
}
select:focus {
  @apply outline-none border-gray-200;
}
.select-arrow:before {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-2xl;
  content: "\ea17";
  font-family: boxicons;
}

/* ===== TEXT AREA ===== */

textarea {
  @apply w-full rounded p-2 border-solid border-2 border-gray-200 transition-full outline-none;
}

/* ===== CARD ===== */

.card {
  @apply rounded bg-white shadow-lg; 
}

card {
  @apply block p-2 rounded bg-white shadow-lg h-full w-full; 
}

/* ===== BREADCRUMB ===== */

.breadcrumb > ol {
  @apply flex flex-row p-2;
}
.breadcrumb > ol > li {
  @apply text-indigo-500 mr-4;
}
.breadcrumb > ol > li > a {
  @apply text-gray-700;
}
.breadcrumb li+li:before {
  /* font-family: "Font Awesome 5 Free";
  content: "\f105"; */
  content: "\ecee";
  font-family: boxicons;
  @apply mr-4 relative text-gray-700;
  top: 2px;
}

/* ===== BADGE ===== */

badge {
  @apply py-1 px-3 rounded text-xs uppercase;
}
badge+badge {
  @apply ml-2;
}

bullet { @apply inline-block w-1 h-1 p-1 rounded-full; }

@tailwind utilities;
